* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font: 16px 'Comfortaa', cursive;
    color: #111111;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    background: rgba(233, 240, 245, 0.54);
    background-image: repeating-linear-gradient(45deg, rgba(226, 245, 255, 0.5) 0, rgba(226, 242, 251, 0.5) 7px, transparent 7px, transparent 17px);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: rgba(2, 18, 130, 0.6);

    &__title {
        font-size: 1.85rem;
        color: #fff;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 5px #111111;
    }
}

.footer {
    background: rgba(58, 212, 192, 0.5);
    padding: .4rem 0;
    font-size: .8rem;
    font-weight: 700;
    color: #111;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__social-link svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: #6771b4;
    }
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
}

.weather-app {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 25rem;
        background: #fff;
        height: 500px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.2);
        border-radius: 15%;
    }
    &__container {
        display: grid;
        grid-gap: 1rem;
        justify-items: center;
    }
    &__title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: .5rem;
        justify-items: center;
        font-size: 1.25rem;

        & span {
            font-size: 1.5rem;
            font-weight: 700;
            color: #d40e00;
        }
    }
    &__icon {
        width: 100%;
        height: 100%;

        &-wrapper {
            max-width: 300px;
        }
    }
    &__notification {
        & p {
            background: rgba(255, 0, 0, 0.1);
            padding: 1.25rem 2rem;
            color: #88002e;
            font-weight: 900;
            font-size: 1.125rem;
            justify-content: center;
            width: 100%;
            margin-top: 3rem;
        }
    }
    &__temperature-value {
        font-size: 4.25rem;
        font-weight: 700;
        color: #021282;
        margin-top: -1rem;
        cursor: pointer;

        & span {
            font-size: 2.5rem;
        }
    }
    &__temperature-desc {
        font-size: 2rem;
        font-weight: 500;
        color: #00d4c0;
    }
    &__location {
        font-weight: 700;
    }
}

